absl-py==0.15.0
astunparse==1.6.3
cachetools==4.2.4
certifi==2021.5.30
charset-normalizer==2.0.12
commonmark==0.9.1
dataclasses @ file:///tmp/build/80754af9/dataclasses_1614363715916/work
filelock==3.4.1
flatbuffers==1.12
future==1.0.0
gast==0.3.3
google-auth==2.22.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
huggingface-hub==0.4.0
idna==3.10
importlib-metadata==4.8.3
importlib-resources==5.4.0
Keras-Preprocessing==1.1.2
Markdown==3.3.7
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603487797006/work
oauthlib==3.2.2
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
onnx==1.9.0
onnx2keras==0.0.24
onnxruntime==1.10.0
onnxsim==0.4.10
opt-einsum==3.3.0
packaging==21.3
Pillow @ file:///tmp/build/80754af9/pillow_1625670622947/work
protobuf==3.19.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
Pygments==2.14.0
pyparsing==3.1.4
PyYAML==6.0.1
requests==2.27.1
requests-oauthlib==2.0.0
rich==12.6.0
rsa==4.9.1
six==1.15.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
timm==0.6.12
torch==1.7.0
torchaudio==0.7.0a0+ac17b64
torchsummary==1.5.1
torchvision==0.8.0
tqdm==4.64.1
typing-extensions==3.7.4
urllib3==1.26.20
Werkzeug==2.0.3
wrapt==1.12.1
zipp==3.6.0
